<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center p-3 mt-1">
                <h1>Agendamento</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-3 mt-1">
                <h2>Dados do paciente</h2>
            </div>
        </div>

        <div class="form_paciente">
            <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputNome4" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="inputNome4" placeholder="text">
                </div>

                <div class="col-md-6">
                  <label for="inputSobrenome4" class="form-label">Sobrenome</label>
                  <input type="text" class="form-control" id="inputSobrenome4" placeholder="text">
                </div>

                <div class="col-md-6">
                  <label for="inputCPF4" class="form-label">CPF</label>
                  <input type="text" class="form-control" id="inputCPF4" placeholder="text">
                </div>

                <div class="col-md-6">
                  <label for="inputDatanasc4" class="form-label">Data de Nascimento</label>
                  <input type="date" class="form-control" id="inputDatanasc4">
                </div>

                <div class="col-md-6">
                  <label for="inputTelefone4" class="form-label">Telefone</label>
                  <input type="text" class="form-control" id="inputTelefone4" placeholder="text">
                </div>

                <div class="col-md-6">
                  <label for="inputCEP4" class="form-label">CEP</label>
                  <input type="text" class="form-control" id="inputCEP4" placeholder="text">
                </div>


                <div class="col-12">
                  <label for="inputEndereco" class="form-label">Endereço</label>
                  <input type="text" class="form-control" id="inputEndereco" placeholder="text">
                </div>

                <div class="col-12 mt-4">
                  <h2>Dados Consulta</h2>
                </div>
                
                <div class="col-md-6">
                  <label for="inputClinica" class="form-label">Clínica</label>
                  <select id="inputClinica" class="form-select">
                    <option selected>Selecione</option>
                    <option>Clínica UCB</option>
                    <option>Clínica Católica</option>
                    <option>Clínica Brasília</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="inputEspecialidade" class="form-label">Especialidade</label>
                  <select id="inputEspecialidade" class="form-select">
                    <option selected>Selecione</option>
                    <option>Dermatologista</option>
                    <option>Cardiologista</option>
                    <option>Clínico Geral</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="inputDataC4" class="form-label">Data</label>
                  <input type="date" class="form-control" id="inputDataC4">
                </div>

                <div class="col-md-6">
                  <label for="inputHora4" class="form-label">Hora</label>
                  <input type="time" class="form-control" id="inputHora4" placeholder="text">
                </div>

                <div class="mb-12">
                  <label for="exampleFormControlTextarea1" class="form-label">Observação</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="col-12 p-3 mt-3">
                  <button type="submit" class="btn btn-secondary col-12" placeholder="text">Enviar</button>
                </div>
                
                
              </form>
        </div>
        

    </div>
    
</body>
</html>